
[package]
name = "showcase"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
tokio = { version = "1", features = ["full"] }
serde_json = "1.0"
worldstate_parser = { path = "../../" }
reqwest = "0.13.1"
